* {
	padding: 0;
	margin: 0;
	line-height: 120%;
}

body {
	display: grid;
	background: #F0FAFF;
	background: linear-gradient(135deg, rgba(246,253,255,1) 0%, rgba(228,250,255,1) 100%);
	font-family: 'Nunito', sans-serif;
	color: #78a6bc;
	align-content: center;
	height: 100vh;
}

.central {
	display: grid;
	justify-self: center;
	margin: 2rem 0rem;
	padding: 1rem;
	border-radius: 2rem;
	box-shadow: 4px 4px 4px #00000018, -4px -4px 4px #ffffffff;
}

.board-holder {
	border-radius: 2rem;
	box-shadow: inset 4px 4px 4px #00000018, inset -4px -4px 4px #ffffffff;
}

.title {
	display: grid;
	justify-self: center;
	margin: 2rem 0;
}

h1 {
	justify-self: center;
	font-size: 2.5rem;
}

.restart {
	margin-bottom: 1rem;
	color: #6ECEFF;
	cursor: pointer;
}

.restart:hover {
	color: #00F2FF;
}

.board {
	margin: 1rem;
	background: #78a6bc;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 0.2rem;
}

.fade {
	opacity: 0.15;
}

.end-game-popup {
	display: grid;
	position: absolute;
	justify-self: center;

	width: 20rem;
	height: 20rem;
	margin-left: -10rem;
	margin-top: -7.7rem;
	top: 50%;
	left: 50%;
}

.hidden {
	visibility: hidden;
}

.end-game-popup h3 {
	align-self: center;
	font-size: 2rem;
}

.board svg {
	background: #F0FAFF;
	background: linear-gradient(135deg, rgba(246,253,255,1) 0%, rgba(228,250,255,1) 100%);
	height: 6rem;
	width:  6rem;
	cursor: pointer;
}

.bottom {
	display: grid;
	justify-self: center;
	justify-content: center;
	margin: 2.5rem 0 0.75rem;
}

h3 {
	justify-self: center;
	font-size: 1.4rem;
}

a {
	font-size: 1.4rem;
	justify-self: center;
	text-decoration: none;
	color: #6ECEFF;
}